<component name="ArtifactManager">
  <artifact type="war" name="SpringNeo4j:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringNeo4j-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringNeo4j:war exploded" />
    </root>
  </artifact>
</component>